@import url("https://rsms.me/inter/inter.css");

@font-face {
	font-family: 'Cascadia Code';
	src: url("./fonts/CascadiaCode.ttf");
}

* {
	font-family: 'Inter', sans-serif;
}

code {
	font-family: 'Cascadia Code';
}

.plain {
	background-color: transparent;
	padding: 0;
	color: inherit;
	font-size: inherit;
	transition: 1s;
}

.plain:hover {
	color: #7786DA;
}

.credit {
	position: fixed;
	background-color: #080808;
	color: #FFFFFF;
	border-radius: 10px;
	padding: 7px;
	bottom: 0;
}

.small {
	opacity: 0.9;
	font-size: 8px;
}
