@import url("https://rsms.me/inter/inter.css");

@font-face {
	font-family: 'Cascadia Code';
	src: url("./fonts/CascadiaCode.ttf");
}

* {
	font-family: 'Cascadia Code';
}

body {
	margin: 0;
	padding: 0;
	overflow: hidden;
}

blurple {
	color: #7289DA;
}

red {
	color: #FF0000;
}

blue {
	color: #1DA1F2;
}

a.invis {
	text-decoration: none;
	color: inherit;
}

.offset {
	padding-left: 12px;
}

.headbar {
	overflow: hidden;
	padding: 0 0 3px 0;
	border-bottom: solid 3px #000;
}

.headbar a {
	margin: 4px;
	float: left;
	color: #000;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 16px;
}

.headbar a:hover {
	background-color: #EEE;
}

.headbar a.active {
	background-color: #000;
	color: #EEE;
}

.animate-in {
	-webkit-animation: fadeIn .5s ease-in;
	animation: fadeIn .5s ease-in;
}

.animate-out {
	-webkit-transition: opacity .5s;
	transition: opacity .5s;
	opacity: 0;
}

@-webkit-keyframes fadeIn {
	from {opacity: 0;}
	to {opacity: 1;}
}

@keyframes fadeIn {
	from {opacity: 0;}
	to {opacity: 1;}
}
